<app-header></app-header>
<app-others-page-header
  title="Quality Software Services"
  desc="Seamlessly actualize client-based users after out-of-the-box value. Globally embrace strategic data through frictionless expertise."
></app-others-page-header>
<app-service-image-feature-one></app-service-image-feature-one>
<app-service-image-feature-two></app-service-image-feature-two>
<app-promo-five [bgLight]="true"></app-promo-five>
<app-service-contact-form></app-service-contact-form>
<app-footer></app-footer>
