<header
  class="main-header w-100"
  [ngClass]="[
    dark ? 'position-absolute' : '',
    absolute ? 'position-absolute' : ''
  ]"
>
  <nav
    class="navbar navbar-expand-xl sticky-header z-10"
    [ngClass]="[dark ? 'navbar-dark' : 'navbar-light', sticky ? 'affix' : '']"
    (scroll)="onscroll()"
  >
    <div
      class="container d-flex align-items-center justify-content-lg-between position-relative"
    >
      <a
        routerLink="/"
        class="navbar-brand"
      >
      <img
      src="assets/img/logo-white.png"
      alt="logo"
      id="logo"
      class="img-fluid logo-white" 
    />
        <img
          src="assets/img/logo-color.png"
          alt="logo-color"
          id="logo-color"
          class="img-fluid logo-color"
        />
      </a>
      <button
        class="navbar-toggler position-absolute right-0 border-0"
        id="#offcanvasWithBackdrop"
        role="button"
      >
        <span
          class="far fa-bars"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBackdrop"
          aria-controls="offcanvasWithBackdrop"
        ></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
          <li><a class="nav-link" href="#" role="nav-link"> Home </a></li>
          <li><a routerLink="/" class="nav-link">About us</a></li>
          <li><a routerLink="/" class="nav-link">Portfolio</a></li>
          <li><a routerLink="/contact" class="nav-link">Contact</a></li>
          
        </ul>
      </div>

      <div
        class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block"
      >
        <a routerLink="/login" class="btn btn-link text-decoration-none me-2"
          ></a
        >
        <a routerLink="/contact" class="btn btn-primary">Innovate</a>
      </div>

      <!--offcanvas menu start-->
      <div
        class="offcanvas offcanvas-end d-xl-none"
        tabindex="-1"
        id="offcanvasWithBackdrop"
      >
        <div class="offcanvas-header d-flex align-items-center mt-4">
          <a
            routerLink="/"
            class="d-flex align-items-center mb-md-0 text-decoration-none"
          >
            <img
              src="assets/img/logo-color.png"
              alt="logo"
              class="img-fluid ps-2 logo-menu"
            />
          </a>
          <button
            type="button"
            class="close-btn text-danger"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <i class="far fa-close"></i>
          </button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav col-12 col-md-auto justify-content-center main-menu">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Home
              </a>
              
            <li><a routerLink="/services" class="nav-link">Services</a></li>
            <li><a routerLink="/about" class="nav-link">About</a></li>
            <li><a routerLink="/pricing." class="nav-link">Pricing</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Company</a
              >
              <div
                class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white"
              >
                <div class="dropdown-grid rounded-custom width-full">
                  <div class="dropdown-grid-item">
                    <h6 class="drop-heading">Useful Links</h6>
                    <a routerLink="/contact" class="dropdown-link px-0">
                      <span class="me-2"
                        ><i class="far fa-fingerprint"></i
                      ></span>
                      <div class="drop-title">Contact</div>
                    </a>
                    <a routerLink="/single-service" class="dropdown-link px-0">
                      <span class="me-2"
                        ><i class="far fa-address-book"></i
                      ></span>
                      <div class="drop-title">Contact Us</div>
                    </a>
                    <a routerLink="/news" class="dropdown-link">
                      <span class="me-2"
                        ><i class="far fa-code-branch"></i
                      ></span>
                      <div class="drop-title">Our Latest News</div>
                    </a>
                    <a routerLink="/news-details" class="dropdown-link px-0">
                      <span class="me-2"><i class="far fa-server"></i></span>
                      <div class="drop-title">News Details</div>
                    </a>
                    <a routerLink="/career" class="dropdown-link">
                      <span class="me-2"><i class="far fa-th-large"></i></span>
                      <div class="drop-title">Career</div>
                    </a>
                    <a routerLink="/single-career" class="dropdown-link">
                      <span class="me-2"><i class="far fa-bars"></i></span>
                      <div class="drop-title">News Details</div>
                    </a>
                    <a routerLink="/integrations" class="dropdown-link">
                      <span cl ass="me-2"
                        ><i class="far fa-rocket-launch"></i
                      ></span>
                      <div class="drop-title">Integrations</div>
                    </a>
                    <a
                      routerLink="/-integration.html"
                      class="dropdown-link px-0"
                    >
                      <span class="me-2"
                        ><i class="far fa-paper-plane"></i
                      ></span>
                      <div class="drop-title">Integration Single</div>
                    </a>
                  </div>
                  <div class="dropdown-grid-item radius-right-side bg-light">
                    <h6 class="drop-heading">Utility Pages</h6>
                    <a routerLink="/help-center" class="dropdown-link">
                      <span class="me-2"><i class="far fa-life-ring"></i></span>
                      <div class="drop-title">Help Center</div>
                    </a>
                    <a routerLink="/help-center-details" class="dropdown-link">
                      <span class="me-2"><i class="far fa-headset"></i></span>
                      <div class="drop-title">Help Details</div>
                    </a>
                    <a routerLink="request-for-demo" class="dropdown-link">
                      <span class="me-2"
                        ><i class="far fa-laptop-code"></i
                      ></span>
                      <div class="drop-title">Request for Demo</div>
                    </a>
                    <a routerLink="/login" class="dropdown-link">
                      <span class="me-2"><i class="far fa-sign-in"></i></span>
                      <div class="drop-title">User Login</div>
                    </a>
                    <a routerLink="/signup" class="dropdown-link">
                      <span class="me-2"><i class="far fa-user-plus"></i></span>
                      <div class="drop-title">User SignUp</div>
                    </a>
                    <a routerLink="/reset-password" class="dropdown-link">
                      <span class="me-2"
                        ><i class="far fa-trash-undo"></i
                      ></span>
                      <div class="drop-title">Recovery Account</div>
                    </a>
                    <a routerLink="/page-not-found" class="dropdown-link">
                      <span class="me-2"
                        ><i class="far fa-exclamation-triangle"></i
                      ></span>
                      <div class="drop-title">404 Page</div>
                    </a>
                    <a routerLink="/coming-soon" class="dropdown-link">
                      <span class="me-2"><i class="far fa-clock"></i></span>
                      <div class="drop-title">Coming Soon</div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="action-btns mt-4 ps-3">
            <a routerLink="/login" class="btn btn-outline-primary me-2"
              >Sign In</a
            >
            <a routerLink="/request-for-demo" class="btn btn-primary"
              >Get Started</a
            >
          </div>
        </div>
      </div>
      <!--offcanvas menu end-->
    </div>
  </nav>
</header>
