<section class="feature-promo ptb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h2>Our Services in a nutshell</h2>
          <p>
            Simplify your digital journey with us.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-code fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Custom Software Development</h3>
            <p>
              We develop custom software that meets our clients' unique business needs. Our experienced developers use the latest technologies to create high-quality, scalable solutions that drive our clients' businesses forward
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-browser fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Web Development</h3>
            <p>
              We design and develop user-friendly websites that are optimized for search engines. Our team of skilled developers uses a range of technologies to ensure that our clients receive responsive, high-quality websites that meet their business goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-mobile fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Mobile App Development</h3>
            <p>
              Our team designs and develops mobile apps for iOS and Android devices that are user-friendly, responsive, and optimized for performance. We use the latest development technologies and methodologies to ensure that our clients receive high-quality, scalable mobile apps that drive their business forward.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-terminal fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Cloud Computing and DevOps</h3>
            <p>
              We help our clients leverage cloud computing technologies such as Amazon Web Services (AWS) or Microsoft Azure, to optimize their software solutions for the cloud. Our team of experienced developers also helps clients implement DevOps practices such as continuous integration and continuous delivery (CI/CD) to streamline software development and deployment processes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-brain-circuit fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Machine Learning</h3>
            <p>
              We develop predictive models, clustering algorithms, or natural language processing (NLP) tools that help our clients make data-driven decisions. Our team of skilled data scientists and machine learning experts uses the latest technologies and methodologies to ensure that our clients receive accurate, actionable insights that drive their business forward.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-left mt-4">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fa-light fa-headset fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Maintenance and Support</h3>
            <p>
              We offer bug fixes, performance optimizations, security updates, and user support to keep our clients' software up-to-date and running smoothly. Our team of experienced developers and support staff works closely with our clients to provide prompt and reliable service that keeps their software solutions up-and-running.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-60">
      <div class="col-lg-6 mt-4">
        <div
          class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-5 rounded-custom"
        >
          <div class="cta-left-info mb-2">
            <h5>Utilize your software data</h5>
            <p>
              Progressively reinvent models and niche revolutionary benefits for
              integrated niches.
            </p>
          </div>
          <div class="action-btns mt-auto">
            <a
              routerLink="/request-for-demo"
              class="btn btn-outline-primary btn-sm"
              >Start For Free</a
            >
          </div>
          <div class="cta-img position-absolute right-0 bottom-0">
            <img
              src="assets/img/cta-img-1.png"
              alt="cta img"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div
          class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-5 rounded-custom"
        >
          <div class="cta-left-info mb-2">
            <h5>Get real time updated anytime</h5>
            <p>
              Progressively reinvent models and niche revolutionary benefits for
              integrated niches.
            </p>
          </div>
          <div class="action-btns mt-auto">
            <a
              routerLink="/request-for-demo"
              class="btn btn-outline-primary btn-sm"
              >Start For Free</a
            >
          </div>
          <div class="cta-img position-absolute right-0 bottom-0">
            <img
              src="assets/img/cta-img-2.png"
              alt="cta img"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
