<section
  class="about-header-section ptb-120 position-relative overflow-hidden bg-dark"
  style="
    background: url('assets/img/page-header-bg.svg') no-repeat center right;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="section-heading-wrap d-flex justify-content-between z-5 position-relative"
        >
          <div class="about-content-left">
            <div class="about-info mb-5">
              <h3 class="fw-bold display-7">
                Discover Our Vision and Values
              </h3>
              <p class="lead">
              
              </p>
              <a routerLink="/career" class="btn btn-primary mt-4 me-3"
                >Open Positions</a
              >
              <a routerLink="/about" class="btn btn-soft-primary mt-4"
                >Meet Our Team</a
              >
            </div>
            
          </div>
          <div class="about-content-right">
           
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5"
  ></div>
</section>
