<section class="faq-section ptb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center" data-aos="fade-up">
          <h4 class="h5 text-primary">FAQ</h4>
          <h2>Frequently Asked Questions</h2>
          <p>
            Efficiently network cross-unit paradigms for premier technologies
            scale 24/7 paradigms for process-centric data interoperable.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-copyright text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>Which license do I need to use an item in a commercial?</h5>
            <p class="mb-0">
              Collaboratively iterate high-payoff content via high standards in
              technology. economically sound methodologies via corporate.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-credit-card text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>What payment methods do you accept?</h5>
            <p class="mb-0">
              Globally e-enable plug-and-play imperatives and seamless
              e-markets. Intrinsicly negotiate resource maximizing e-tailers
              after just in time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-clipboard-list-check text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>How does the free trial work and what is included?</h5>
            <p class="mb-0">
              Economically sound supply chains through distributed strategic
              theme areas. Appropriately cultivate innovative web-readiness
              whereas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-microphone text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>What happens after my free trial ends?</h5>
            <p class="mb-0">
              Progressively pontificate quality vectors without resource
              maximizing bandwidth. Conveniently maximize turnkey testing
              procedures for compelling.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="250"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-play-circle text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>Why do you ask for a video introduction?</h5>
            <p class="mb-0">
              Maximizing e-enable imperatives and seamless e-markets.
              Intrinsicly negotiate resource quality vectors without after just
              in time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10">
        <div
          class="faq-content-wrap d-flex mb-5"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <span class="faq-icon me-3"
            ><i class="fal fa-code-branch text-primary"></i
          ></span>
          <div class="faq-info">
            <h5>Can I work from anywhere?</h5>
            <p class="mb-0">
              Conveniently maximize turnkey sound supply chains through
              distributed strategic theme areas. Appropriately cultivate
              innovative web-readiness whereas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="bg-dark shadow-lg p-5 rounded-custom mt-lg-5"
      data-aos="fade-up"
      data-aos-delay="250"
    >
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-7">
          <div class="cta-content">
            <h3 class="mb-2">Have More Questions?</h3>
            <p class="mb-lg-0 mb-xl-0">
              Drop us a note and we’ll get back to you soon
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-lg-end">
            <a href="contact-us.html" class="btn btn-light">Get in Touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
