<section
  class="coming-soon-section min-vh-100 ptb-120 overflow-hidden position-relative w-100 d-flex flex-column justify-content-center"
  style="
    background: url('assets/img/page-header-bg.svg') no-repeat bottom right;
  "
>
  <div class="bg-dark fixed-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12">
        <div class="coming-soon-content-wrap position-relative z-2">
          <a routerLink="/" class="mb-5 d-block"
            ><img src="assets/img/logo-white.png" alt="logo" class="img-fluid"
          /></a>

          <h5 class="text-white">We are Coming Soon...</h5>
          <h1 class="text-white">
            We are Working Our New Website, Please Stay With us!
          </h1>
          <div class="action-btns">
            <a
              routerLink="/contact"
              class="btn btn-primary mt-5 popup-with-form"
              >Notify Me!</a
            >
          </div>

          <div class="social-list-wrap mt-100">
            <ul
              class="list-unstyled author-social-list social-bg-ts list-inline mb-0"
            >
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-github"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="animated-circle list-unstyled z--1">
    <li class="transition-delay-1 bg-danger"></li>
    <li class="transition-delay-2 bg-warning"></li>
    <li class="transition-delay-3 bg-primary"></li>
  </ul>
</section>
