<section
  class="testimonial-section ptb-120"
  [ngClass]="[dark ? 'bg-dark text-white' : '', light ? 'bg-light' : '']"
>
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-10 col-lg-6">
        <div class="section-heading text-center" data-aos="fade-up">
          <h4 class="h5" [ngClass]="dark ? 'text-warning' : 'text-primary'">
            Testimonial
          </h4>
          <h2>What Our Clients Say About Us</h2>
          <p>
            Our goal is to establish enduring partnerships with our clients, serving as their reliable tech partner.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div
          class="position-relative w-100"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          <swiper [config]="config" class="testimonialSwiper">
            <ng-template swiperSlide>
              <div
                class="p-5 rounded-custom position-relative"
                [ngClass]="
                  dark ? 'bg-custom-light text-white' : 'border border-2 '
                "
              >
                <img
                  src="assets/img/testimonial/quotes-dot.svg"
                  alt="quotes"
                  width="100"
                  class="img-fluid position-absolute left-0 top-0 z--1 p-3"
                />
                <div class="d-flex mb-32 align-items-center">
                  <img
                    src="assets/img/dimitri.jpeg"
                    class="img-fluid me-3 rounded"
                    width="80"
                    alt="user"
                  />
                  <div class="author-info">
                    <h6 class="mb-0">Dimitri Burms</h6>
                    <small>Broker in insurance and mortgages</small>
                  </div>
                </div>
                <blockquote>
                  <h6>Burms Insurance</h6>
                  Working with kaizen group has been a delightful experience as they are attentive, 
                  responsive, and technically skilled. We highly recommend them to anyone in need of a top-quality website.
                </blockquote>
                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div
                class="p-5 rounded-custom position-relative"
                [ngClass]="
                  dark ? 'bg-custom-light text-white' : 'border border-2 '
                "
              >
                <img
                  src="assets/img/testimonial/quotes-dot.svg"
                  alt="quotes"
                  width="100"
                  class="img-fluid position-absolute left-0 top-0 z--1 p-3"
                />
                <div class="d-flex mb-32 align-items-center">
                  <img
                    src="assets/img/hederik.png"
                    class="img-fluid me-3 rounded"
                    width="90"
                    alt="user"
                  />
                  <div class="author-info">
                    <h6 class="mb-0">Hederik Laloo</h6>
                    <small>CEO & Founder</small>
                  </div>
                </div>
                <blockquote>
                  <h6>Product Architects</h6>
                  Kaizen group team delivered a reliable and effective solution that exceeded our expectations. 
                  We appreciated their expertise and clear communication throughout the process.
                </blockquote>
                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div
                class="p-5 rounded-custom position-relative"
                [ngClass]="
                  dark ? 'bg-custom-light text-white' : 'border border-2 '
                "
              >
                <img
                  src="assets/img/testimonial/quotes-dot.svg"
                  alt="quotes"
                  width="100"
                  class="img-fluid position-absolute left-0 top-0 z--1 p-3"
                />
                <div class="d-flex mb-32 align-items-center">
                  <img
                    src="assets/img/ion.jpeg"
                    class="img-fluid me-3 rounded"
                    width="80"
                    alt="user"
                  />
                  <div class="author-info">
                    <h6 class="mb-0">Ion Cojocaru</h6>
                    <small>Founder and CEO</small>
                  </div>
                </div>
                <blockquote>
                  <h6>QuantumSoft</h6>
                  It was a pleasure to work with kaizen group, 
                  delivering a high-quality solution that met our exact requirements 
                  with attention to detail and expertise. Highly recommended.
                </blockquote>
                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div
                class="p-5 rounded-custom position-relative"
                [ngClass]="
                  dark ? 'bg-custom-light text-white' : 'border border-2 '
                "
              >
                <img
                  src="assets/img/testimonial/quotes-dot.svg"
                  alt="quotes"
                  width="100"
                  class="img-fluid position-absolute left-0 top-0 z--1 p-3"
                />
                <div class="d-flex mb-32 align-items-center">
                  <img
                    src="assets/img/olga.jpeg"
                    class="img-fluid me-3 rounded"
                    width="80"
                    alt="user"
                  />
                  <div class="author-info">
                    <h6 class="mb-0">Olga Krivchenko</h6>
                    <small>Founder and CEO</small>
                  </div>
                </div>
                <blockquote>
                  <h6>Qualium Systems</h6>
                  Kiazen group exceeded expectations with their top-tier solution and clear communication. 
                  Their expertise and attention to detail made for a stress-free experience. Highly recommended.
                </blockquote>
                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div
                class="p-5 rounded-custom position-relative"
                [ngClass]="
                  dark ? 'bg-custom-light text-white' : 'border border-2 '
                "
              >
                <img
                  src="assets/img/testimonial/quotes-dot.svg"
                  alt="quotes"
                  width="100"
                  class="img-fluid position-absolute left-0 top-0 z--1 p-3"
                />
                <div class="d-flex mb-32 align-items-center">
                  <img
                    src="assets/img/rory.jpeg"
                    class="img-fluid me-3 rounded"
                    width="80"
                    alt="user"
                  />
                  <div class="author-info">
                    <h6 class="mb-0">Rory van Gaal</h6>
                    <small>Founder and CEO</small>
                  </div>
                </div>
                <blockquote>
                  <h6>Render Fabric</h6>
                  Kaizen group delivered a reliable and efficient solution that exceeded our expectations. 
                  Their expertise and clear communication made the process a pleasure. Highly recommended.
                </blockquote>
                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star text-warning"></i>
                  </li>
                </ul>
              </div>
            </ng-template>
          </swiper>
          <div class="swiper-nav-control">
            <span class="swiper-button-next"></span>
            <span class="swiper-button-prev"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
