<section
  class="pricing-section pb-120 position-relative z-2"
  [ngClass]="sectionTitle ? 'pt-60' : 'pt-120'"
>
  <div class="container">
    <div [ngClass]="sectionTitle ? 'row justify-content-center' : 'd-none'">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Pricing</h4>
          <h2>Need a business website?</h2>
          <p>
            Conveniently mesh cooperative services via magnetic outsourcing.
            Dynamically grow value whereas accurate e-commerce vectors.
          </p>
        </div>
      </div>
    </div>
    <div
      [ngClass]="sectionTitle ? 'row justify-content-center mb-5' : 'd-none'"
    >
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-primary-soft rounded-circle d-block me-3"
          >
            <i class="fal fa-file-contract text-primary"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            No Lock-in contracts
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-success-soft rounded-circle d-block me-3"
          >
            <i class="fal fa-mug-hot text-success"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">Free 1 on 1 consultation</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-danger-soft rounded-circle d-block me-3">
            <i class="fal fa-book text-danger"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">Free Website training</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-primary d-block">Starter</h3>
            <h4 class="display-6 fw-semi-bold"><span></span>€950</h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i>A simple and clean website design
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Customization of a pre-designed template
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Mobile responsive design
                
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Contact form integration
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Basic SEO optimization
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> One round of revisions
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Domain & Hosting 
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> business e-mail
              </li>
            </ul>
          </div>
          <a routerLink="/request-for-demo" class="btn btn-outline-primary mt-2"
            >More info</a
          >

          <!--pattern start-->
          <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
            <img src="assets/img/shape/dot-big-square.svg" alt="shape" />
          </div>
          <!--pattern end-->
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-gradient text-white p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-warning d-block">Growth</h3>
            <h4 class="display-6 fw-semi-bold">€1400<span></span></h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Website design with 10 pages
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Mobile responsive design
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Content management system
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Advanced SEO optimization
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Basic e-commerce integration 
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Three rounds of revisions
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> All from the starter
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Technical support and maintenance
              </li>
            </ul>
          </div>
          <a routerLink="/request-for-demo" class="btn btn-primary mt-2"
            >More info</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-primary d-block">Premium</h3>
            <h4 class="display-6 fw-semi-bold">€1700<span></span></h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> <strong>Custom</strong> website design with 20+ pages
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Everything from <strong>Starter & Growth</strong>
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Customized features and functionality
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Advanced Security integration 

              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 24/7 Dedicated Support for 1 month
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Unlimited revisions
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Automated
                Updated Features
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Website speed optimization
              </li>
            </ul>
          </div>
          <a routerLink="/request-for-demo" class="btn btn-outline-primary mt-2"
            >More info</a
          >

          <!--pattern start-->
          <div class="dot-shape-bg position-absolute z--1 right--40 top--40">
            <img src="assets/img/shape/dot-big-square.svg" alt="shape" />
          </div>
          <!--pattern end-->
        </div>
      </div>
    </div>
  </div>
</section>
