<section
  class="pricing-section pb-120 position-relative z-2"
  [ngClass]="sectionTitle ? 'pt-60' : 'pt-120'"
>
  <div class="container">
    <div [ngClass]="sectionTitle ? 'row justify-content-center' : 'd-none'">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Lets have a coffee</h4>
          <h2>Personalized Advice</h2>
          <p>
            But we don't just stop at creating top-tier software. We understand the complexities of the digital world can be daunting, 
            and we're here to help navigate this journey together. We offer complimentary consultations and expert advice, guiding you 
            through the process from ideation to implementation, and beyond. 
          </p>
        </div>
      </div>
    </div>
    <div
      [ngClass]="sectionTitle ? 'row justify-content-center mb-5' : 'd-none'"
    >
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-primary-soft rounded-circle d-block me-3"
          >
            <i class="fal fa-file-contract text-primary"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            No Lock-in contracts
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-success-soft rounded-circle d-block me-3"
          >
            <i class="fal fa-mug-hot text-success"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">Free 1 on 1 consultation</div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-danger-soft rounded-circle d-block me-3">
            <i class="fal fa-book text-danger"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">Free training</div>
        </div>
      </div>
    </div>
  </div>
</section>
