<section>
  <!--newsletter subscription container start-->
  <div class="container">
    <!--cat subscribe start-->
    <div
      class="bg-dark pb-120 px-5 position-relative overflow-hidden rounded-custom"
      style="
        background: url('assets/img/page-header-bg.svg') no-repeat center bottom;
      "
    >
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
          <div class="subscribe-info-wrap text-center position-relative z-2">
            <div class="section-heading">
              <h4 class="h5 text-warning">For Latest News & Update</h4>
              <h2>Want Receive the Best SAAS Insights? Subscribe Now!</h2>
              <p>
                We can help you to create your dream website for better business
                revenue.
              </p>
            </div>
            <div class="form-block-banner mw-60 m-auto mt-5">
              <form
                id="email-form2"
                name="email-form"
                class="subscribe-form d-flex"
              >
                <input
                  type="email"
                  class="form-control me-2"
                  name="Email"
                  data-name="Email"
                  placeholder="Enter your email"
                  id="Email2"
                  required=""
                />
                <input
                  type="submit"
                  value="Join!"
                  data-wait="Please wait..."
                  class="btn btn-primary"
                />
              </form>
            </div>
            <ul class="nav justify-content-center subscribe-feature-list mt-3">
              <li class="nav-item">
                <span
                  ><i class="fad fa-dot-circle text-primary me-2"></i>Don’t
                  worry we won’t send you spam</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="bg-circle rounded-circle circle-shape-1 position-absolute bg-dark-light left-5"
      ></div>
    </div>
    <!--cat subscribe end-->
  </div>
  <!--newsletter subscription container end-->
</section>
