<section class="home-blog-section ptb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h4 class="text-primary h5">Blog</h4>
          <h2>Our Latest News and Update</h2>
          <p>
            Assertively maximize cost effective methods of iterate team driven
            manufactured products through equity invested via customized
            benefits.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0">
          <a routerLink="/news-details" class="article-img">
            <img
              src="assets/img/blog/blog-1.jpg"
              alt="article"
              class="img-fluid"
            />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a
                href="javascript:;"
                class="d-inline-block text-dark badge bg-warning-soft"
                >Design</a
              >
            </div>
            <a routerLink="/news-details">
              <h2 class="h5 article-title limit-2-line-text">
                Do you really understand the concept of product value?
              </h2>
            </a>
            <p class="limit-2-line-text">
              Society is fragmenting into two parallel realities. In one
              reality, you have infinite upside and opportunity. In the other
              reality, you’ll continue to see the gap between your standard of
              living and those at the top grow more and more.
            </p>

            <a href="javascript:;">
              <div class="d-flex align-items-center pt-4">
                <div class="avatar">
                  <img
                    src="assets/img/testimonial/6.jpg"
                    alt="avatar"
                    width="40"
                    class="img-fluid rounded-circle me-3"
                  />
                </div>
                <div class="avatar-info">
                  <h6 class="mb-0 avatar-name">Jane Martin</h6>
                  <span class="small fw-medium text-muted">April 24, 2021</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0">
          <a routerLink="/news-details" class="article-img">
            <img
              src="assets/img/blog/blog-2.jpg"
              alt="article"
              class="img-fluid"
            />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a
                href="javascript:;"
                class="d-inline-block text-dark badge bg-primary-soft"
                >Customer</a
              >
            </div>
            <a routerLink="/news-details">
              <h2 class="h5 article-title limit-2-line-text">
                Why communities help you build better products for your business
              </h2>
            </a>
            <p class="limit-2-line-text">
              Society is fragmenting into two parallel realities. In one
              reality, you have infinite upside and opportunity. In the other
              reality, you’ll continue to see the gap between your standard of
              living and those at the top grow more and more.
            </p>

            <a href="javascript:;">
              <div class="d-flex align-items-center pt-4">
                <div class="avatar">
                  <img
                    src="assets/img/testimonial/1.jpg"
                    alt="avatar"
                    width="40"
                    class="img-fluid rounded-circle me-3"
                  />
                </div>
                <div class="avatar-info">
                  <h6 class="mb-0 avatar-name">Veronica P. Byrd</h6>
                  <span class="small fw-medium text-muted">April 24, 2021</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0 mb-md-0">
          <a routerLink="/news-details" class="article-img">
            <img
              src="assets/img/blog/blog-3.jpg"
              alt="article"
              class="img-fluid"
            />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a
                href="javascript:;"
                class="d-inline-block text-dark badge bg-danger-soft"
                >Development</a
              >
            </div>
            <a routerLink="/news-details">
              <h2 class="h5 article-title limit-2-line-text">
                Why communities help you build better products
              </h2>
            </a>
            <p class="limit-2-line-text">
              Society is fragmenting into two parallel realities. In one
              reality, you have infinite upside and opportunity. In the other
              reality, you’ll continue to see the gap between your standard of
              living and those at the top grow more and more.
            </p>

            <a href="javascript:;">
              <div class="d-flex align-items-center pt-4">
                <div class="avatar">
                  <img
                    src="assets/img/testimonial/3.jpg"
                    alt="avatar"
                    width="40"
                    class="img-fluid rounded-circle me-3"
                  />
                </div>
                <div class="avatar-info">
                  <h6 class="mb-0 avatar-name">Martin Gilbert</h6>
                  <span class="small fw-medium text-muted">April 24, 2021</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center mt-5">
        <a routerLink="/news" class="btn btn-primary">View All Article</a>
      </div>
    </div>
  </div>
</section>
