.container {
  width: 100vw;
  height: 100vh;
}

.hero-content-wrap {
  margin-top: 35%;
  position: relative;
  text-align: left; /* add text alignment to center text horizontally */
  display: flex;
  flex-direction: column; /* set flex-direction to column for vertical alignment */
  justify-content: center; /* center vertically */
  align-items: left; /* center horizontally */
}

.hero-content-wrap h3.display-5 {
  font-size: 4rem;
}

.hero-img {
  margin-top: 10%;
  justify-content: center;
}

@media (max-width: 767px) {
  .hero-content-wrap h3.display-5 {
    font-size: 3rem;
    
  }
  .hero-content-wrap {
    text-align: center;
    margin-top: 50%;
    justify-content: center; /* center both vertically and horizontally */
  }
  .action-btn{
   margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .hero-img {
    display: none;
  }
}
