.container {

    width: 100vw;
    height: 100vh;
   
 

}
.hero-content-wrap{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  
}
.action-btn{
    align-items: center;

}