<section class="hero-section ptb-120 text-white bg-gradient" style="background: url('assets/img/hero-dot-bg.png') no-repeat center right;">
  <div class="container">
    <ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
    <div class="row">
      
      <div class="col-lg-6 col-md-10 d-flex justify-content-center align-items-center">
        
        <div class="hero-content-wrap text-left">
          <h1 class="glow fw display-6">
            We combine innovative thinking with top-tier development to create custom software solutions that elevate your business performance.
          </h1>
          <p class="lead">
           
          </p>
          <div class="action-btn mt-5 d-block d-sm-flex d-lg-flex d-md-flex">
            <a routerLink="/request-for-demo" class="btn btn-primary me-3">Book a meeting</a>
            <a href="javascript:void(0)" class="text-decoration-none d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0 glightbox">
            </a>
          </div>
        </div>
      </div>
      <!--
      <div class="col-lg-6 mt-5 d-flex justify-content-center">
        <img src="assets/img/about_cyber.png" alt="Description of the image" class="hero-img img-fluid">
      </div>
    -->
    </div>
    
  </div>
  
</section>
